{% extends 'base.html' %}
{% block title %}Авторизация{% endblock %}
{% block slider %}{% include 'includes/slider.html' %}{% endblock %}
{% block sidebar %}{% include 'includes/sidebar.html' %}{% endblock %}
{% block main %}
    <div class="col-md-9">
        <div class="main-content">
            <h2>Авторизация</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Войти</button>
                <a href="{% url 'register' %}" class="btn btn-link">Регистрация</a>
            </form>
            {% if error_message %}
                <div class="alert alert-danger" role="alert">
                    {{ error_message }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
