<!-- Боковая панель -->
<div class="col-md-3">
    <div class="sidebar">
        <h4>Поиск</h4>
        <!-- Форма для поиска -->
        <form class="search-form">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Поиск">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button">Найти</button>
                </div>
            </div>
        </form>
        {% if show_filters %}
            <!-- Форма для фильтрации услуг -->
            <h4>Фильтрация</h4>
{#            <form id="filter-form" method="post">#}
{#                {% csrf_token %}#}
{#                <div class="form-group">#}
{#                    {% for filter in filter_list %}#}
{#                        <div class="form-check">#}
{#                            <input class="form-check-input" type="checkbox" name="selected_filters" id="filter_{{ filter.id }}" value="{{ filter.id }}">#}
{#                            <label class="form-check-label" for="filter_{{ filter.id }}">{{ filter.name }}</label>#}
{#                        </div>#}
{#                    {% endfor %}#}
{#                </div>#}
{#                <button type="submit" class="btn btn-primary">Применить фильтр</button>#}
{#            </form>#}
            <form id="filter-form" method="get">
                {% csrf_token %}
                <div class="form-group">
                    {% for filter in filter_list %}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="selected_filters" id="filter_{{ filter.id }}" value="{{ filter.id }}"
                            {% if filter.id|stringformat:"s" in selected_filters %}checked{% endif %}>
                            <label class="form-check-label" for="filter_{{ filter.id }}">{{ filter.name }}</label>
                        </div>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-primary">Применить фильтр</button>
            </form>
        {% endif %}
        {% if not request.user.is_authenticated %}
            <h4>Авторизация</h4>
            <!-- Форма для авторизации -->
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email" id="email" name="email" required autocomplete="username">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Пароль" required autocomplete="current-password">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Войти</button>
            </form>
        {% endif %}

        <div class="popular-products">
            <h4>Популярные товары</h4>
            <!-- Ссылки на популярные товары -->
            <ul class="list-group">
                <li class="list-group-item"><a href="{% url 'service_list' %}">Масло моторное</a></li>
                <li class="list-group-item"><a href="{% url 'service_list' %}">Фильтр воздушный</a></li>
                <li class="list-group-item"><a href="{% url 'service_list' %}">Тормозные колодки</a></li>
                <li class="list-group-item"><a href="{% url 'service_list' %}">Аккумулятор</a></li>
            </ul>
        </div>
    </div>
</div>
