{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <!-- Подключаем стили Bootstrap -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">

</head>
<body>
<!-- Popup входа -->
{% include './authapp/popup_login.html' %}
<!-- Popup записи в сервис -->
{% include './service/popup_service.html' %}
<!-- Верхнее меню и логотип -->
{% include 'includes/header.html' %}
<!-- Слайдер -->
{% include 'includes/slider.html' %}
<!-- Главный блок -->


<!-- Центральная часть страницы -->
<div class="container">
    <div class="row">
        <!-- Боковая панель -->
        {% include 'includes/sidebar.html' %}
        {% block main %}
        {% endblock %}
    </div>
</div>

<!-- Footer -->
{% include 'includes/footer.html' %}


<!-- Подключаем скрипты Bootstrap и пользовательский JavaScript -->

<script src="{% static "js/jquery-3.5.1.slim.min.js" %}"></script>
<script src="{% static "js/popper.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
</body>
</html>
