{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <!-- Подключаем стили Bootstrap -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">


</head>
<body>

<!-- Popup входа -->
{% include './authapp/popup_login.html' %}

<!-- Верхнее меню и логотип -->
{% include 'includes/header.html' %}
<!-- Слайдер -->
{% block slider %}{% endblock %}
<!-- Главный блок -->


<!-- Центральная часть страницы -->
<div class="container">
    <div class="row">
        <!-- Боковая панель -->
        {% block sidebar %} {% endblock %}
        {% block main %}
        {% endblock %}
    </div>
</div>

<!-- Footer -->
{% include 'includes/footer.html' %}


<!-- Подключаем скрипты Bootstrap и пользовательский JavaScript -->
<script>
    // Показать popup при нажатии на кнопку "Войти"
    document.getElementById("loginBtn").addEventListener("click", function () {
        document.getElementById("login_overlay").style.display = "flex";

    });
    // Убрать popup при нажатии на кнопку "закрыть"
    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("closeLoginPopupBtn").addEventListener("click", function () {
            document.getElementById("login_overlay").style.display = "none";
            // Скрываем overlay и popup при нажатии на кнопку "Закрыть"
        });
    });

    // Предотвращение закрытия окна при клике внутри него
    document.querySelector(".popup").addEventListener("click", function (event) {
        event.stopPropagation();
    });

    // Закрыть popup при клике вне его
    document.querySelector(".overlay").addEventListener("click", function () {
        document.querySelector(".overlay").style.display = "none"; // Скрываем overlay и popup при клике вне его
    });
</script>
<script src="{% static "js/jquery-3.5.1.slim.min.js" %}"></script>
<script src="{% static "js/popper.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>

</body>
</html>
